html
    head
        link(rel="stylesheet" type="text/css" href="../public/css/index.css")
        script(src="/public/js/index.js")
        title Standard Form

    body
        .navigation
            a(href= "/index") Home
            a(href= "/showdb") View Entries
        .title
            h1 Dont forget to sign up for this thing that does nothing!
        .signup
            form(method="post" action="/" onsubmit="return validate(this)")
                label(for="fname") First Name
                input(id="fname" type="text" maxlength="30" name="forename" placeholder="First Name" required)
                label(for="lname") Last Name
                input(id="lname" type="text" maxlength="30" name="surname" placeholder="Last Name" required)
                labe(for="email") Email
                input(id="email" type="text" maxlength="64" name="email" placeholder="email address" required)
                label(for="role") Role
                select(name="role")
                    option(value="STUDENT") Student
                    option(value="TEACHER") Teacher
                input(type="submit" value="Signup")
        .info
            p If you dont want to use your real name that is fine.
            br
            | you prolly shouldnt use your real email, just in case im not as smart as i look
            br
            | please dont break my database. tis fragile.
            p #{dbUpdate}
        .footer
            p &copy; 2017 Adam Dohrn. Important Legal Stuff.
            p Site Ver. 0.7