<html>
    <head>
        <!--<link rel="stylesheet" type="text/css" href="querystyle.css" />-->
        <!--<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>-->
        <title>Full List of Entries into Database</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script> 
    </head>
    <body>
        <section class="intro">
            <h1>Here is the full list of entries into the Database</h1>
            <p>
                <a href = 'index.html'>Home</a>
            </p>
        </section>
        <script id='showdb_hb' type='text/x-handlebars-template'>
            {{person}}
        </script>
        <div class='content_placehoder'></div>
    </body>
</html>