
html
    head
        title Full list of entries into the DB
        link(rel="stylesheet" href="public/css/showdb.css")
    
    body
        .intro
            a(href="index") Home
            h1 Here is the full list of entries into the database
        table.dbTable
            tr
                th First Name
                th Last Name
                th email
                th role
            for person in personList
                tr
                    td= person.first_name
                    td= person.last_name
                    td= person.email
                    td= person.role